<% if user_signed_in? %>

    <h4>Olá, <%= @user.email %> </h4>

    <h2>Meus ativos</h2>

    <% if @user_invests.empty?%>
        <h5>Ainda não há investimentos em sua carteira</h5>
    <% else%>
        <% @user_invests.each do |invest| %>
        <div class="container">
            <br/>
            <p><strong> Código: </strong> <%= invest.symbol %> </p>
            <p><strong>Empresa: </strong> <%= invest.name %> </p>
            <p> <%= invest.price %> </p>
            <br/>
        </div>
        <% end %>
    <% end %>

<% end%>

<% if !user_signed_in? %>
    <% redirect_to root_path %>
<% end%>
